<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
<!--        <link href="https://image.flaticon.com/icons/png/512/46/46271.png" rel="icon">-->

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
            });
        </script>

        <title>Rainbow Suns {% block title %}{% endblock %}</title>

        <style>
            {% block style %}
            {% endblock %}
        </style>

    </head>

    <body>
<!--        <div class="sidebar bg-dark">-->
<!--            <a class="text-dark" href="/"><img src="https://image.flaticon.com/icons/png/512/46/46271.png" alt="Icon" style="width:20px; height:20px;">-->
<!--                <b>Sun Puzzle</b>-->
<!--        </div>-->
    <div class="row">
        <div class="col-2 container-fluid">
            <nav class="navbar navbar-expand-md navbar-light border bg-light">

                    <a class="text-dark" href="/">
                            <b>Sun Puzzle</b>
                    </a>
    <!--                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">-->
    <!--                    <span class="navbar-toggler-icon"></span>-->
    <!--                </button>-->
    <!--                <div class="collapse navbar-collapse" id="navbar">-->
    <!--                </div>-->

            </nav>
        </div>

        <div class="col md-8 content">
        {% if get_flashed_messages() %}
            <header>
                <br>
                {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{category}} border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
                {% endfor %}
            </header>
        {% endif %}


            {% block main %}{% endblock %}
        </div>
    </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <footer class="small text-center text-muted">
        </footer>

    </body>

</html>
